server:
  port: 7070
app:
  storage-location: /opt/rdepot/repo/
  jwks-uri: http://localhost:8080/oauth2/jwks

spring:
  security:
    oauth2:
      client:
        registration:
          rdepot:
            client-authentication-method: none
            client-id: rdepot
            scope: openid
        provider:
          rdepot:
            issuer-uri: http://localhost:8080
